## Syntax

In [1]:
print('Hello Python')

Hello Python

In [2]:
5%3

2

In [3]:
5/2

2.5

In [4]:
5//2

2

In [6]:
'single quote string'

'single quote string'

In [7]:
"double quote string"

'double quote string'

In [11]:
s = """
Triple quote string
to define multi-line strings
"""
print(s)

Triple quote string
to define multi-line strings

In [12]:
# defining list
alist = ["A", 42,
         78, "Just a String"
        ]

In [13]:
# define a variable
x = 3

In [14]:
x += 1

In [15]:
x*= 5

In [16]:
a,b = 3,4

In [17]:
a,b=b,a

## Mutable vs Immutable

In [18]:
x = 3
y = x
x = 5

print('x: ',x)
print('y: ',y)

x:  5
y:  3

In [19]:
x = [1,2,3]
y = x
x = [1,2]

print('x: ',x)
print('y: ',y)

x:  [1, 2]
y:  [1, 2, 3]

In [21]:
x = [1,2,3]
y = x
x.append(1)

print('x: ',x)
print('y: ',y)

x:  [1, 2, 3, 1]
y:  [1, 2, 3, 1]

## Getting input from the user

In [23]:
age = input("What is your age: ")

What is your age: 12

In [24]:
age

'12'

In [25]:
int(age)

12

## if-elif-else

In [26]:
x = 0
y = 0

if x > 0 and y > 0:
    print("1st quarter")
elif x < 0 and y > 0:
    print("2nd quarter")
elif x < 0 and y < 0:
    print("3rd quarter")
elif x > 0 and y < 0:
    print("4th quarter")
elif x==0 and y==0:
    print("Origin")
else:
    print("On axis")

Origin

In [35]:
x = 21

if (x%3==0 and x%7==0) or (x%5==0 and x%3==0):
    print('divisible by 21 or 15')

divisible by 21 or 15

## Loops

In [36]:
while True:
    print('In loop...')
    print('Time to stop')
    break

In loop...
Time to stop

In [37]:
a, b = 0, 1
while b < 100:
    print(b, end=', ')
    a, b = b, a+b

1,1,2,3,5,8,13,21,34,55,89,

In [47]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']

print('--------------------------------')
print('Loop by element')
print('--------------------------------')
for w in words:
    print(w)

print('--------------------------------')
print('Loop by index')
print('--------------------------------')

for i in range(len(words)):
    print(i, words[i])

print('--------------------------------')
print('Loop by both element and index')
print('--------------------------------')
for i,w in enumerate(words):
    print(i, w)

--------------------------------
Loop by element
--------------------------------
cat
window
defenestrate
--------------------------------
Loop by index
--------------------------------
0 cat
1 window
2 defenestrate
--------------------------------
Loop by both element and index
--------------------------------
0 cat
1 window
2 defenestrate

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

In [51]:
# Find even numbers
for num in range(2, 10):
    if num % 2 == 0:
        print("Even number", num)
        continue
    print("Odd number", num)

Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9

In [49]:
# Find prime numbers
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for i in range(10):
    if i > 7:
        break
    print(i)
else:
    print('In else')

## Iterables

### Lists

In [52]:
squares = [1, 4, 9, 16, 25]

In [53]:
squares[1]

4

In [54]:
squares[2:4]

[9, 16]

In [60]:
squares[:3]

[1, 4, 9]

In [59]:
squares[1:]

[4, 9, 16, 25]

In [58]:
squares[-1]

25

In [55]:
squares[-4:-2]

[4, 9]

In [61]:
squares[-1:]

[25]

In [62]:
squares[:-2]

[1, 4, 9]

In [76]:
seq = [1,2,3]

In [77]:
seq.append(4)
print(seq)

[1, 2, 3, 4]

In [78]:
seq.insert(1,1.5)
print(seq)

seq.insert(-1,3.5)
print(seq)

[1, 1.5, 2, 3, 4]
[1, 1.5, 2, 3, 5, 4]

In [81]:
seq.extend([5,6,7])
print(seq)

[1, 1.5, 2, 3, 5, 4, 5, 6, 7, 5, 6, 7]

In [82]:
seq.pop()
print(seq)

[1, 1.5, 2, 3, 5, 4, 5, 6, 7, 5, 6]

In [83]:
seq.pop(2)
print(seq)

[1, 1.5, 3, 5, 4, 5, 6, 7, 5, 6]

In [85]:
seq.pop(-1)
print(seq)

[1, 1.5, 3, 5, 4, 5, 6, 7]

In [86]:
seq.remove(3)
print(seq)

[1, 1.5, 5, 4, 5, 6, 7]

In [87]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [88]:
fruits.index('apple')

1

In [89]:
'pear' in fruits

True

In [91]:
seq = list(range(10))
print(seq)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
seq.reverse()
print(seq)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [93]:
list(reversed(seq))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
print(seq)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [95]:
print(max(seq), min(seq))

9 0

In [2]:
max(1,2,3,4)

4

In [3]:
max([1,2,3,4])

4

In [97]:
sorted(seq)
print(seq)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
seq.sort()
print(seq)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [99]:
people = [("Guido", "Rossum"), ("Raymond", "Hettinger"), ("Greg", "Ward"), ("Brandon", "Rhodes")]
print(people)

[('Guido', 'Rossum'), ('Raymond', 'Hettinger'), ('Greg', 'Ward'), ('Brandon', 'Rhodes')]

In [100]:
people.sort(key=lambda t: t[1])
print(people)

[('Raymond', 'Hettinger'), ('Brandon', 'Rhodes'), ('Guido', 'Rossum'), ('Greg', 'Ward')]

In [102]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [103]:
points = [(x, y) for x in [1,2,3] for y in [1,2,3]]
print(points)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

### Tuples

In [104]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [105]:
x, y, z = t

In [106]:
# zip adjusts according to the shorter sequence 
for i, j in zip([1,2,3], ['a','b','c','d']):
    print(i, j)

1 a
2 b
3 c

### Sets

In [107]:
a = set('abracadabra')
b = set('alacazam')

In [145]:
a - b   # letters in a but not in b

{'b', 'd', 'r'}

In [146]:
a | b    # letters in a or b or both, OR, UNION

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [147]:
a & b    # letters in both a and b, AND, INTERSECTION

{'a', 'c'}

In [149]:
a ^ b    # letters in a or b but not both, XOR, EXCLUSIVE OR

{'b', 'd', 'l', 'm', 'r', 'z'}