# Sequences

# Lists

In [12]:
squares = [1, 4, 9, 16, 25]

In [13]:
squares

[1, 4, 9, 16, 25]

In [14]:
len(squares)

5

## Indexing

In [1]:
seq = ['P','y','t','h','o','n']

![title](../img/indexing.png)

In [2]:
seq[1:2]

['y']

In [3]:
seq[3]

'h'

In [4]:
seq[2:3]

['t']

In [16]:
items = ["PC", "phone", 1]

In [17]:
items

['PC', 'phone', 1]

In [23]:
# assignment error
items[3] = 'newitem'

IndexError: list assignment index out of range

In [24]:
# correct assignment
items[2] = 'newitem'

In [25]:
items

['PC', 'phone', 'newitem']

## Adding elements

In [66]:
"Python"

'Python'

In [67]:
seq = list("Pytho")

In [68]:
seq

['P', 'y', 't', 'h', 'o']

In [69]:
seq.append("n")

In [70]:
seq

['P', 'y', 't', 'h', 'o', 'n']

In [71]:
seq.insert?

![title](../img/indexing.png)

In [72]:
seq.insert(1, "a")

In [73]:
seq

['P', 'a', 'y', 't', 'h', 'o', 'n']

In [74]:
seq.insert(6, "r")

In [75]:
seq

['P', 'a', 'y', 't', 'h', 'o', 'r', 'n']

In [76]:
seq.insert(-1, "c")

In [77]:
seq.insert(-1, "h")

In [78]:
seq

['P', 'a', 'y', 't', 'h', 'o', 'r', 'c', 'h', 'n']

In [79]:
seq

['P', 'a', 'y', 't', 'h', 'o', 'r', 'c', 'h', 'n']

In [94]:
seq = list("Python")

In [95]:
seq[1:2] = "i"

In [96]:
seq

['P', 'i', 't', 'h', 'o', 'n']

In [97]:
seq[3:6]=['o','n']

In [98]:
seq

['P', 'i', 't', 'o', 'n']

In [99]:
seq.append('')

In [100]:
seq

['P', 'i', 't', 'o', 'n', '']

In [101]:
''.join(seq)

'Piton'

In [28]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]

In [29]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [30]:
a.extend(['d','e','f'])
a

['a', 'b', 'c', 'd', 'e', 'f']

In [31]:
n.extend(range(4,10))
n

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Removing elements

In [15]:
seq = list(range(5))
seq

[0, 1, 2, 3, 4]

In [16]:
# pop last element - default
seq.pop()
seq

[0, 1, 2, 3]

In [17]:
# pop the element by index
seq.pop(1)
seq

[0, 2, 3]

In [21]:
seq = list("Pythorn")
seq

['P', 'y', 't', 'h', 'o', 'r', 'n']

In [22]:
seq.remove('r')
seq

['P', 'y', 't', 'h', 'o', 'n']

In [32]:
seq.clear()
seq

[]

In [123]:
seq = [-1, 1, 66.25, 333, 333, 1234.5]
print(seq)

[-1, 1, 66.25, 333, 333, 1234.5]

In [124]:
del seq[0]
print(seq)

[1, 66.25, 333, 333, 1234.5]

In [125]:
del seq[1:3]
print(seq)

[1, 333, 1234.5]

## Value specific operations

In [7]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [8]:
fruits.count('tangerine')

0

In [9]:
fruits.index('banana')

3

In [10]:
# test membership
'kiwi' in fruits

True

## Reversing

In [63]:
seq = list(range(0,16,2))
print(seq)

[0, 2, 4, 6, 8, 10, 12, 14]

In [61]:
# Mutate original list
seq.reverse()
print(seq)

[9, 8, 6, 5, 3, 2, 1, 0]

In [62]:
# Not mutate the original list
seq = list(range(0,16,3))

print(list(reversed(seq)))
print(seq)

[15, 12, 9, 6, 3, 0]
[0, 3, 6, 9, 12, 15]

## Maximum and minimum

In [34]:
seq = [8,2,5,6,1,3,0,9]

print(max(seq))
print(min(seq))

9
0

## Sorting

In [64]:
seq = [8,2,5,6,1,3,0,9]
print(seq)

[8, 2, 5, 6, 1, 3, 0, 9]

In [73]:
# Mutate original list
seq.sort()
print(seq)

seq.sort(reverse=True)
print(seq)

[0, 1, 2, 3, 5, 6, 8, 9]
[9, 8, 6, 5, 3, 2, 1, 0]

In [27]:
x = [4, 6, 2, 1, 7, 9]
y = x.sort() # Don't do this!

In [28]:
print(y)

None

In [59]:
# Not mutate original list
seq = [8,2,5,6,1,3,0,9]

print(list(sorted(seq)))
print(seq)

[0, 1, 2, 3, 5, 6, 8, 9]
[8, 2, 5, 6, 1, 3, 0, 9]

### Custom sorting

In [67]:
people = [("Guido", "Rossum"), ("Raymond", "Hettinger"), ("Greg", "Ward"), ("Brandon", "Rhodes")]
print(people)

[('Guido', 'Rossum'), ('Raymond', 'Hettinger'), ('Greg', 'Ward'), ('Brandon', 'Rhodes')]

In [68]:
people.sort()
print(people)

[('Brandon', 'Rhodes'), ('Greg', 'Ward'), ('Guido', 'Rossum'), ('Raymond', 'Hettinger')]

In [74]:
people.sort(key=lambda t: t[1])
print(people)

[('Raymond', 'Hettinger'), ('Brandon', 'Rhodes'), ('Guido', 'Rossum'), ('Greg', 'Ward')]

In [30]:
x = ['aardvark', 'abalone', 'acme', 'acne', 'add', 'aerate']
x.sort(key=len)
print(x)

['add', 'acme', 'acne', 'aerate', 'abalone', 'aardvark']

In [78]:
seq = [
    'Raymond Hettinger',
    'Brandon Rhodes',
    'Guido Rossum',
    'Greg Ward',
]

In [79]:
seq

['Raymond Hettinger', 'Brandon Rhodes', 'Guido Rossum', 'Greg Ward']

In [80]:
seq.sort()

In [81]:
seq

['Brandon Rhodes', 'Greg Ward', 'Guido Rossum', 'Raymond Hettinger']

In [85]:
def lastname_extractor(person):
    name, lastname = person.split(' ')
    return lastname

In [86]:
lastname_extractor('Brandon Rhodes')

'Rhodes'

In [87]:
seq.sort(key=lastname_extractor)
print(seq)

['Raymond Hettinger', 'Brandon Rhodes', 'Guido Rossum', 'Greg Ward']

## Multiplication

In [6]:
[42, 12]*5

[42, 12, 42, 12, 42, 12, 42, 12, 42, 12]

## Copy

In [21]:
a = [1,2,3]
b = a

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [22]:
a[2] = 0
print(a)
print(b)

[1, 2, 0]
[1, 2, 0]

In [23]:
print(id(a), id(b))

4543122120 4543122120

In [13]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [14]:
a[2] = 0
print(a)
print(b)

[1, 2, 0]
[1, 2, 3]

In [17]:
c = [2,3]
a = [1,c]
b = a.copy()
print(a)
print(b)

[1, [2, 3]]
[1, [2, 3]]

In [19]:
c = [0]
print(a)
print(b)

[1, [0]]
[1, [2, 3]]

In [ ]:
list1 = [1,2]
list2 = list1        # reference
list3 = list1[:]     # shallow copy
list4 = list1.copy() # shallow copy

print('IDs:\nlist1: {}\nlist2: {}\nlist3: {}\nlist4: {}\n'
      .format(id(list1), id(list2), id(list3), id(list4)))

list2[0] = 3
print('list1:', list1)

list3[0] = 4
list4[1] = 4
print('list1:', list1)

In [ ]:
from copy import deepcopy

list1 = [[1],[2]]
list2 = list1.copy()    # shallow copy
list3 = deepcopy(list1) # deep copy

print('IDs:\nlist1: {}\nlist2: {}\nlist3: {}\n'
      .format(id(list1), id(list2), id(list3)))

list2[0][0] = 3
print('list1:', list1)

list3[0][0] = 5
print('list1:', list1)

## Stacks

A stack is a container of objects that are inserted and removed according to the last-in first-out (LIFO) principle.

In [89]:
stack = []
stack.append("item")
stack.append("another item")
stack.append("yeah another one")

In [90]:
stack

['item', 'another item', 'yeah another one']

In [91]:
stack.pop()

'yeah another one'

In [92]:
stack

['item', 'another item']

## Queues

A queue is a container of objects (a linear collection) that are inserted and removed according to the first-in first-out (FIFO) principle.

In [103]:
queue = ["Eric", "John", "Michael"]
queue.append("Terry")
queue.append("Graham")

In [105]:
queue

['John', 'Michael', 'Terry', 'Graham']

In [104]:
queue.pop(0)

'Eric'

In [106]:
queue

['John', 'Michael', 'Terry', 'Graham']

In [101]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.append("Graham")

In [96]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [99]:
queue

deque(['Michael', 'Terry', 'Graham'])

## List Comprehensions

![title](../img/list_comprehension_old.png)

![title](../img/list_comprehension.png)

In [107]:
squares = []
for x in range(10):
    squares.append(x**2)

In [108]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
sq = [x**2 for x in range(10)]

In [110]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [111]:
points = [(x, y) for x in [1,2,3] for y in [1,2,3]]
print(points)

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [157]:
seq = [0, 0.1, 1, 2, 3.14, 4, "6", 7.1]
nums = [n for n in seq if isinstance(n, int)]

print(seq)
print(nums)

[0, 0.1, 1, 2, 3.14, 4, '6', 7.1]
[0, 1, 2, 4]

In [1]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [4]:
transposed = []

for i in range(4):
    nrow = []
    for row in matrix:
        nrow.append(row[i])
    transposed.append(nrow)

In [5]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [6]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [117]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# Tuples

In [130]:
empty = ()
singleton = 'hello',    # <-- note trailing comma

In [132]:
type(empty)

tuple

In [127]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [128]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [129]:
# Tuples are immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [133]:
x, y, z = t

## Zip

In [152]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [159]:
# zip adjusts according to the shorter sequence 
for i, j in zip([1,2,3], ['a','b','c','d']):
    print(i, j)

1 a
2 b
3 c

#### Exercise
Implement transposed matrix example with zip and unpacking.

Input: 

```
matrix = [
    (1, 2, 3, 4),
    (5, 6, 7, 8),
    (9, 10, 11, 12),
]
```


Expected output:    
```
transposed = [
    (1, 5, 9), 
    (2, 6, 10), 
    (3, 7, 11), 
    (4, 8, 12)
]

```

## Comparing

In [165]:
(1, 2, 3) < (1, 2, 4)

True

In [166]:
[1, 2, 3] < [1, 2, 4]

True

In [167]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [168]:
(1, 2) < (1, 2, -1)

True

In [171]:
(1, 2, ('aa', 'ab')) < (1, 2, ('abc', 'a'), 4)

True

In [170]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

# Sets

In [134]:
alphabet = {'a','b','c','d'}

In [135]:
alphabet

{'a', 'b', 'c', 'd'}

In [151]:
# test membership
'x' in alphabet

False

In [139]:
a = set('abracadabra')
b = set('alacazam')

In [142]:
a

{'a', 'b', 'c', 'd', 'r'}

In [143]:
b

{'a', 'c', 'l', 'm', 'z'}

In [141]:
print(a)

{'b', 'c', 'd', 'r', 'a'}

In [145]:
a - b   # letters in a but not in b

{'b', 'd', 'r'}

In [146]:
a | b    # letters in a or b or both, OR, UNION

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [147]:
a & b    # letters in both a and b, AND, INTERSECTION

{'a', 'c'}

In [149]:
a ^ b    # letters in a or b but not both, XOR, EXCLUSIVE OR

{'b', 'd', 'l', 'm', 'r', 'z'}