# Strings

## Basics

In [1]:
'spam eggs'

'spam eggs'

In [2]:
"spam eggs"

'spam eggs'

In [3]:
"doesn't"

"doesn't"

In [4]:
'does\'nt'

"does'nt"

In [5]:
'She said:"Yes"'

'She said:"Yes"'

In [6]:
print("Hola")

Hola

In [7]:
print('C:\some\name')

C:\some
ame

In [8]:
print('C:\some\\name')

C:\some\name

In [9]:
print(r'C:\some\name')

C:\some\name

In [3]:
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [11]:
"Python" + 3

TypeError: must be str, not int

In [17]:
"Python" + str(3)

'Python3'

In [12]:
"Python"*3

'PythonPythonPython'

In [13]:
"Python" + "3"

'Python3'

In [14]:
word = "Python"
print(word)

Python

In [15]:
len(word)

6

In [16]:
word[0]

'P'

In [17]:
word[-1]

'n'

![](img/indexing.png)

In [18]:
word[0:2]

'Py'

In [19]:
word[6]

IndexError: string index out of range

In [20]:
word[2:26]

'thon'

In [21]:
word[2:]

'thon'

In [1]:
word[2] = 'a'

NameError: name 'word' is not defined

#### Exercise

Write a Python program that takes a word and converts it to a list with its characters with removing spaces if existing.

Input: "P yt hon"   
Expected result: ['P', 'y', 't', 'h', 'o', 'n']

Do not use list("P yt hon"), use for loop or list comprehension

#### Exercise
Given a string, return a new string made of 3 copies of the last 2 chars of the original string. The string length will be at least 2.

Input: "Hello"   
Expected result: "lololo"

Input: "ab"   
Expected result: "ababab"

In [2]:
"ab"[-2:]

'ab'

#### Exercise  

Given an "out" string having even number of characters, such as "<<>>", and a word, return a new string where the word is in the middle of the out string, e.g. "<<word>>".


Input: "##++", "python"  
Expected result: "##python++"

## String Methods

In [22]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### find

In [23]:
str.find?

In [4]:
title = "Monty Python's Flying Circus"
print(title.find('Python'))
print(title.find('y'))

print(title.find('BBC'))

6
4
-1

In [6]:
print(title.rfind('y'))

17

#### Exercise

Take a string and if it contains  ",", then split it two new string according to index of last ","

Input: "Monty,Python"   
Expected result: "Monty", "Python"


Input: "Monty,Python,Flying,Circus"   
Expected result: "Monty,Python,Flying", "Circus"

### join

In [25]:
str.join?

In [14]:
'-'.join('python')

'p-y-t-h-o-n'

In [18]:
seq = [1,2,3,4,5]
''.join(seq)

TypeError: sequence item 0: expected str instance, int found

In [26]:
seq = ['1', '2', '3', '4', '5']
''.join(seq)

'12345'

In [27]:
'+'.join(seq)

'1+2+3+4+5'

In [16]:
'*'.join([str(i) for i in range(10)])

'0*1*2*3*4*5*6*7*8*9'

#### Exercise
Take a list of words words and unite them by putting space between.

Input: ["Monty", "Python's", "Flying", "Circus"]   
Expected result: "Monty Python's Flying Circus"

### replace

In [29]:
str.replace?

In [9]:
"Python".replace('y', 'i')

'Pithon'

In [10]:
"Python".replace('h', '')

'Pyton'

In [11]:
"Python".replace("a", "i")

'Python'

In [30]:
"1,2,3,4,5,6".replace(',',';')

'1;2;3;4;5;6'

In [31]:
"1 2 3 4 5 6".replace(' ','-')

'1-2-3-4-5-6'

#### Exercise

Take a string with Turkish characters and replace them with Latin ones.

turkish_characters = ['ç','ğ','ı', 'ö', 'ü', 'ş']   
latin_characters = ['c', 'g', 'i', 'o', 'u', 's']

Input: "değişken"
Expected result: "degisken"

Input: "türkçe"
Expected result: "turkce"

Hint: Iterate over two list of characters simultaneously and use str.replace one by one

### split splitlines

In [31]:
s = "Monty Python's Flying Circus"
separator = ' '

indices = [i for i in range(len(s)) if s[i]==separator]
indices.insert(0,0)
indices.append(len(s)+1)

seq = [s[i1:i2] for i1,i2 in zip(indices[:-1], indices[1:])]
seq

['Monty', " Python's", ' Flying', ' Circus']

In [30]:
s = "Monty Python's Flying Circus"
separator = ' '

seq = []

while True:
    i = s.find(separator)
    if i == -1:
        seq.append(s)
        break
    else:
        seq.append(s[:i])
    s = s[i+1:]
    
seq

['Monty', "Python's", 'Flying', 'Circus']

In [32]:
str.split?

In [33]:
"1+2+3+4+5".split('+')

['1', '2', '3', '4', '5']

In [34]:
"Monty Python's Flying Circus".split()

['Monty', "Python's", 'Flying', 'Circus']

In [35]:
"Monty Python's Flying Circus".split('',1)

ValueError: empty separator

In [36]:
"Monty Python's Flying Circus".split(' ',2)

['Monty', "Python's", 'Flying Circus']

In [37]:
"Monty Python's Flying Circus".rsplit(' ',2)

["Monty Python's", 'Flying', 'Circus']

In [15]:
str.splitlines?

In [16]:
s = """
He did not wear his scarlet coat,
For blood and wine are red,
And blood and wine were on his hands
When they found him with the dead,
The poor dead woman whom he loved,
And murdered in her bed.
"""

In [18]:
s.splitlines()

['',
 'He did not wear his scarlet coat,',
 'For blood and wine are red,',
 'And blood and wine were on his hands',
 'When they found him with the dead,',
 'The poor dead woman whom he loved,',
 'And murdered in her bed.']

#### Exercise
Take a string consisting of multiple email adresses separated by space and extract usernames.

Input: 'aliveli@gmail.com crazy8@yahoo.com excalibur04@hotmail.com'   
Expected result: ['aliveli', 'crazy8', 'excalibur02']

### strip

In [38]:
'      internal whitespace is kept      '.strip()

'internal whitespace is kept'

In [39]:
'      internal whitespace is kept      '.rstrip()

'      internal whitespace is kept'

In [40]:
'      internal whitespace is kept      '.lstrip()

'internal whitespace is kept      '

In [1]:
'aaaabbbb'.strip('a')

'bbbb'

#### Exercise
Write a Python program that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

Input: "red, black,   pink, green   ,  black, green , blue, magenta"   
Expected output:  'black, blue, green, magenta, pink, red'

### startswith endswith

In [3]:
str.startswith?

In [4]:
s = "Monty Python's Flying Circus"

In [5]:
s.startswith('Mon')

True

In [6]:
s.startswith('P', 6)

True

In [6]:
s.endswith('Circus')

True

### isupper islower isnumeric ...

In [35]:
[s for s in dir(str) if s.startswith('is')]

['isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper']

In [46]:
"abcd".isalpha()

True

In [48]:
"1231".isalpha()

False

In [47]:
"1231".isnumeric()

True

In [45]:
"1231asdad".isalnum()

True

In [51]:
'P'.isupper()

True

In [49]:
"Monthy".isupper()

False

In [50]:
"Monthy".islower()

False

In [52]:
"Monthy".istitle()

True

#### Exercise

Take string with a name and phone number, extract phonenumber.

Input: "Grace Hopper 0 532 123 45 67"   
Expected Result: "05321234567"

Input: "Hedy Lamarr +01 (222) 123 45 67"   
Expected Result: "012221234567"

#### Exercise

Take string evaluate whether only the first character of all words are upper.

Input: "monty python flying circus"  
Expected Result: False

Input: "MOnthy PYTHON Flying CircuS"   
Expected Result: False

Input: "Monty Python Flying Circus"    
Expected Result: True

### lower upper capitalize title

In [28]:
print("Monty Python's Flying Circus".lower())

print("Monty Python's Flying Circus".upper())

print("python".capitalize())

print("python for engineers".title())

monty python's flying circus
MONTY PYTHON'S FLYING CIRCUS
Python
Python For Engineers

#### Exercise
Write a Python program to find the first appearance of the substring 'not' and 'poor' from a given string, if 'not' follows the 'poor', replace the whole 'not'...'poor' substring with 'good'. Return the resulting string. 

Input: 'The lyrics is not that poor!'   
Expected Result: 'The lyrics is good!'

Input: 'This movie is not very very very poor!'   
Expected Result: 'This movie is good!'


Hint: Find index of not and poor and use them to replace the appropriate substring

#### Exercise

Take a string written camelCase convention and write all words separated by space.

Input: "saveChangesToDatabase"   
Expected Output: "save changes to database"

## String Formatting

In [8]:
x = 123

In [9]:
x

123

In [10]:
repr(x)

'123'

In [11]:
'The value of x is ' + str(x)

'The value of x is 123'

The str() function is meant to return representations of values which are fairly human-readable, while repr() is meant to generate representations which can be read by the interpreter (or will force a SyntaxError if there is no equivalent syntax). For objects which don’t have a particular representation for human consumption, str() will return the same value as repr().

In [12]:
str(x).rjust(8)

'     123'

In [45]:
for x in range(1, 11):
    print(str(x).rjust(8), str(x*x).rjust(8), str(x*x*x).rjust(8), sep='|')

       1|       1|       1
       2|       4|       8
       3|       9|      27
       4|      16|      64
       5|      25|     125
       6|      36|     216
       7|      49|     343
       8|      64|     512
       9|      81|     729
      10|     100|    1000

In [13]:
str(x).center(8)

'  123   '

In [46]:
for x in range(1, 11):
    print(str(x).center(8), str(x*x).center(8), str(x*x*x).rjust(8), sep='|')

   1    |   1    |       1
   2    |   4    |       8
   3    |   9    |      27
   4    |   16   |      64
   5    |   25   |     125
   6    |   36   |     216
   7    |   49   |     343
   8    |   64   |     512
   9    |   81   |     729
   10   |  100   |    1000

In [14]:
str(x).ljust(8)

'123     '

### Old formatting style

In [47]:
print('The value of PI is approximately %5.3f' % 3.1416)

The value of PI is approximately 3.142

### New formatting style

![title](../img/stringformatting.png)

In [48]:
print('We are the {} who say {}!'.format('knights', 'Ni'))
print('We are the {1} who say {0}!'.format('knights', 'Ni'))

We are the knights who say Ni!
We are the Ni who say knights!

In [49]:
for x in range(1, 11):
    print('|{0:2d}|{1:3d}|{2:4d}|'.format(x, x*x, x*x*x))

| 1|  1|   1|
| 2|  4|   8|
| 3|  9|  27|
| 4| 16|  64|
| 5| 25| 125|
| 6| 36| 216|
| 7| 49| 343|
| 8| 64| 512|
| 9| 81| 729|
|10|100|1000|

In [50]:
'{:<30}'.format('left aligned')

'left aligned                  '

In [51]:
'{:>30}'.format('right aligned')

'                 right aligned'

In [20]:
'{:^30}'.format('centered')

'           centered           '

In [53]:
'{:*^30}'.format('centered')  # use '*' as a fill char

'***********centered***********'

#### Exercise
Write a program to print each character in a string to newline with width of 10. If the character is numeric, align it to right. Otherwise, align it to left.
Input: "py1h0n"
Expected output:

````
p         
y         
         1
h         
         0
n              

```

In [2]:
# truncate
'{:.10}'.format('Python Tutorial')

'Python Tut'

In [2]:
'{:{}}'.format('Python Tutorial', 30)

'Python Tutorial               '

In [5]:
"{0:08}".format(123)

'00000123'

In [6]:
"{0:8d}".format(123)

'     123'

In [34]:
"{0:8f}".format(123)

'123.000000'

In [36]:
"{0:8e}".format(123)

'1.230000e+02'

In [7]:
'{:8.4f}'.format(3.14)

'  3.1400'

In [54]:
'|{:8.4f}| {:8.4f}|'.format(3.14, -3.14)

'|  3.1400|  -3.1400|'

In [55]:
'|{:+8.4f}| {:+8.4f}|'.format(3.14, -3.14)  # show a space for positive numbers

'| +3.1400|  -3.1400|'

In [56]:
# format also supports binary numbers
"int: {0:d};  hex: {0:x};  oct: {0:o};  bin: {0:b}".format(42)

'int: 42;  hex: 2a;  oct: 52;  bin: 101010'

In [57]:
points = 19
total = 22
'Correct answers: {:.2%}'.format(points/total)

'Correct answers: 86.36%'

In [25]:
area = 1256.66
decimals = 2
print("The area of the rectangle is {0:.2f}cm\u00b2".format(area))
print("The area of the rectangle is {0:.{1}f}cm\u00b2".format(area, decimals))

The area of the rectangle is 1256.66cm²
The area of the rectangle is 1256.66cm²

In [30]:
"{0:10f}".format(123)

'123.000000'

In [54]:
print("Sammy the {0} {1} a {pr}.".format("shark", "made", pr = "pull request"))

Sammy the shark made a pull request.

In [26]:
hashd = {}
hashd['word'] = 'garfield'
hashd['count'] = 42
s = 'I want %(count)d copies of %(word)s' % hashd  # %d for int, %s for string
s

'I want 42 copies of garfield'

#### Exercise
Write a program to count repeated characters in a string and write it in the following format (sorted, is/are). 
Input: 'eyyafyallayöküll'
Expected output :
```
There are  3 a
There is   1 e
There is   1 f
There is   1 k
There are  4 l
There are  4 y
There is   1 ö
There is   1 ü
```

#### Exercise

widths: 24, 8, 16   
header-align: center, right, center   
entry-align: left, right, center   

```
headers = ['Title', 'Year', 'Country']
movies = [["The Core", 2003, "USA" ],
          ["Il momento di uccidere", 1968, "Italy"],
          ["Across the Divide", 1921, "UK"]]

         Title              Year    Country     
------------------------------------------------
The Core                    2003      USA       
Il momento di uccidere      1968     Italy      
Across the Divide           1921       UK       
```